main {
  margin: 50px;
}

#gameview {
  width: 90%;
  margin: 20px;
}
.color-button {
    width: 120px;
    height: 120px;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.colorPickLabel {
  margin: 10px 0 0 10px;
}

.colorPick {
  margin: 5px 5px 5px 5px;
  width: 110px;
}

.deleteButton, #addButton {
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 10px;
}

#addBlock {
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 3px lightgrey;
}
